.main {
    font-family: 'Raleway', sans-serif;
    background: aqua;
    background: pink;
    height: 100%;
}

.main-content {
    @include debug(aqua);
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    grid-template-areas:
        "header     header"
        "sidebar    workspace";

    .header {
        grid-area: header;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .workspace {
        grid-area: workspace;
    }
}
