.header {
    display: flex;
    background: $bg-header;
    position: relative;
    z-index: 5;
}

// Header Item Wrapper

.header-items { 
    display: flex;
    flex: 1;

    &:nth-child(2) {
        justify-content: center;
    }

    &:nth-child(3) {
        justify-content: flex-end;
    }
}

// Header Item - Menu

.header-menu {
    display: flex;
    align-items: center;

    svg.jam-menu {
        width: 50px;
        fill: $header-icon;
        cursor: pointer;
        
        &:hover {
            fill: $header-icon-active;
        }
    }
}



.menu-search {
    background: $bg-search;
    padding: 6px 8px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    
    &:hover {
        background: $bg-search-active;
    }

    input {
        background: none;
        font-size: 12px;
    }

    svg.jam-search {
        width: 18px;
        fill: $search-icon;
        cursor: pointer;
    }
}

// Header Item - Logo

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo a {
    text-decoration: none;
    border: 2px solid rgba($color: #ffffff, $alpha: 0.5);
    color: rgba($color: #ffffff, $alpha: 0.9);
    padding: 2px 6px;
    font-size: 18px;
    border-radius: 4px;
    
    &:hover {
        border: 2px solid rgba($color: #ffffff, $alpha: 0.6);
        color: rgba($color: #ffffff, $alpha: 1.0);
    }
}

// Header Item - User

.header-user {
    display: flex;
    align-items: center;
    padding-right: 8px;
    position: relative;

    svg {
        width: 24px;
        fill: $header-icon;
        
        &:hover {
            fill: $header-icon-active;
        }
        
    }
    
    .jam-user-circle {
        margin: 0 5px 0 10px;
        width: 36px;
        cursor: pointer;
    }

    .user-add-ws {
        background: $btn-user-add;
        padding: 0 10px 0 5px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: $btn-user-add-color;
        height: 30px;
        cursor: pointer;

        &:hover {
            background: rgba($color: #ffffff, $alpha: 0.2);
            color: $color-white;
        }

        span {
            margin-left: 2px;
        }
    }
}

.user-options {
    display: none;
    position: absolute;
    top: 48px;
    right: 10px;
    z-index: 1;
    
    &::after {
        content: " ";
        background: #e9e9e9;
        position: absolute;
        top: -2px;
        right: 13px;
        width: 15px;
        height: 15px;
        transform: rotate(135deg);
        z-index: -1;
    }
    
    .user-opt-wrap {
        position: relative;
        top: 4px;
        width: 240px;
        background: #e9e9e9;
        border-radius: 5px;
        box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.3);
        
    }   
}

.user-opt-group {
    font-size: 0.9rem;
    color: #666;
    
    .opt-heading {
        color: #555;
        padding: 10px 12px;
        font-size: 18px;
    }
    
    .opt-items {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        padding: 8px 0;
        
        li {
            padding: 8px 16px;
            font-weight: 600;
            cursor: pointer;
            
            &:hover {
                background: #ddd;
                color: #444;
            }
        }

        a {
            text-decoration: none;
        }
    }
}