.workspace {
    @include debug(purple);
    background: #c3c3c3;
    background: #646c72;
    background: #86878f;
    font-size: 1rem;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;

    .panel {
        @include debug(yellow);
        display: flex;
        padding: 0.5rem;
        gap: 10px;
        overflow-y: auto;
        box-shadow: inset 0px 0px 2px rgba( black, 0.5);
    }
}

// Workspace Header

.ws-header {
    background: $bg-workspace;
    
    .ws-header-wrap {
        max-height: 2.5rem;
        z-index: 4;
        padding: 6px 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    
    svg {
        width: 1.5rem;
        fill: $ws-header-icons;
        cursor: pointer;

        &:hover {
            fill: $ws-header-icons-hover;
        }
    }
    
    .ws-toggles {
        display: flex;
        align-items: center;

        .new-workspace {
            background: #ededed;
            color: #878686;
            padding: 0 5px 0 5px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            height: 30px;
            cursor: pointer;

            &:hover {
                background: #e4e4e4;
                color: #757575;
            }
            
            &:active {
                background: #dbdbdb;
            }

            svg.jam {
                fill: #b9b9b9;
                
                &:hover {
                    fill: #9b9b9b;
                }
            }
        }

        
        
        .ws-sync {
            margin-left: 0.5rem;
            

            button.ws-sync-all {
                font-size: 0.8rem;
                font-weight: 600;
                border: 0;
                padding: 0.25rem 0.5rem;
                border-radius: 2px;
                cursor: pointer;
                outline: none;
                
                background: #32ae4a;
                color: #fff;

                &:hover {
                    background: #279e3e;
                }
                
                &:active {
                    background: #19802d;
                }
            }
        }

        .workspace-status {
            display: none;
            justify-self: flex-start;
            margin-right: auto;
            margin-left: 0.5rem;

            &.is-visible {
                display: block;
            }
            
            p.ws-stat-label {
                font-size: 0.75rem;
                font-weight: 600;
                color: #aaaaaa;
            }
        }
    }
}

// Workspace Dropdown
.ws-dropdown {
    background: #5e616e;
    display: grid;
    grid-template-rows: auto 1fr;
    align-self: baseline;
    border-radius: 3px;
    font-size: 0.9rem;
    line-height: 0;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    user-select: none;

    &.is-open {
        .ws-choices {
            display: block;
        }
    }

    svg.jam {
        width: 18px;
        margin: 0 10px;
        fill: $ws-select-icon;
        pointer-events: none;
    }  

    .ws-select {
        display: flex;
    }

    .ws-selected {
        min-height: 28px;
        font-weight: 600;
        color: $ws-select-text;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;

        .select-text {
            margin-left: 10px;
            pointer-events: none;
            user-select: none;
        }

        &:hover {
            background: #525561;
        }
    }

    .ws-choices {
        display: none;
        flex-direction: column;
        color: white;
        padding: 0 0 0.2rem;
        border-radius: 0 0 3px 3px;
        
        li {
            display: flex;
            align-items: center;
            padding-left: 10px;
            font-weight: 600;
            min-height: 28px;
            
            &:hover {
                background: #525561;
            }
        }
    } 
}


// Settings - Far Right
.ws-settings {
    margin-left: auto;
    display: flex;
    
    &.is-open {
        .ws-settings-panel {
            display: grid;
        }
    }

    svg.jam-cog-f,
    svg.mdi-ws-settings {
        margin-right: 0.3rem;
        width: 1.4rem;
        fill: #999;
        
        &:hover {
            fill: #777;
        }
    }
    
    .ws-settings-panel {
        display: none;
        grid-template-rows: 2.5rem 1fr;
        width: 280px;
        height: calc(100% - 50px);
        position: fixed;
        top: 2.5rem;
        right: 0px;
        background:$bg-ws-settings;
        color: $bg-ws-settings-text;
        z-index: 2;
        
        .ws-set-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 2.5rem;
            padding: 0 16px 0 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            
            h3 {
                font-size: 0.85rem;
                color: rgba($color: black, $alpha: 0.5);
            }
            
            svg.jam-close {
                width: 1.5rem;
                position: relative;
                right: -0.3rem;
            }
        }

        .ws-set-content {
            // @include debug-min(cornflowerblue);
            overflow-y: auto;
        }
        >:last-child:not(.ws-set-content) {
            border-bottom: 1px solid $ws-settings-separator;
        }
        
        .ws-set-group {
            display: flex;
            flex-direction: column;
            padding: 10px 0px;
            border-bottom: 1px solid $ws-settings-separator;
            
            li {
                font-size: 0.88rem;
                font-weight: 600;
                padding: 8px 20px;
                color: #666;
                cursor: pointer;
                
                &:hover {
                    background: #e0e0e0;
                    color: #555;
                }
            }

            &:last-child {
                padding-top: 0;
            }
        }
        
        a {
            text-decoration: none;
        }
    }
}