// Workspace

.workspace {
    @include debug(purple);
    background: #c3c3c3;
    font-size: 1rem;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    
    .panel {
        @include debug(yellow);
        display: grid;
        padding: 10px;
        grid-template-columns: repeat(4, 320px);
        grid-auto-flow: column;
        grid-auto-columns: minmax(280px, 320px);
        gap: 10px;
        overflow: hidden;
        overflow-x: auto;
        box-shadow: inset 0px 0px 2px rgba( black, 0.5);
    }
}

// Workspace Header

.ws-header {
    background: $bg-workspace;
    // height: 100%;
    
    
    .ws-header-wrap {
        max-height: 48px;
        z-index: 4;
        padding: 10px;
        display: flex;
        align-items: center;
    }
    
    svg {
        width: 24px;
        fill: $ws-header-icons;
        cursor: pointer;

        &:hover {
            fill: $ws-header-icons-hover;
        }
    }
    
    .ws-toggles svg:first-child {
        margin-left: 12px;
    }
}

// Workspace Dropdown

.ws-dropdown {
    background: #56a0b4;
    display: grid;
    grid-template-rows: auto 1fr;
    align-self: baseline;
    border-radius: 3px;
    font-size: 0.9rem;
    line-height: 0;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;

    .ws-select {
        display: flex;
    }

    .ws-selected {
        min-height: 28px;
        font-weight: 600;
        color: $ws-select-text;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;

        .select-text {
            margin-left: 10px;
        }

        &:hover {
            background: #4c8ea0;
        }
    }

    
    .ws-choices {
        display: none;
        flex-direction: column;
        color: white;
        padding: 0 0 3px;
        border-radius: 0 0 3px 3px;
        
        li {
            // @include debug-min(yellow);
            display: flex;
            align-items: center;
            padding-left: 10px;
            font-weight: 600;
            min-height: 28px;
            
            &:hover {
                background: #4c8ea0;
            }
        }
    }

    &.is-expanded {
        border-radius: 3px 3px 0px 0px;
    }
    
    svg.jam {
        // margin-left: 0px 3px 0px 6px;
        width: 18px;
        margin: 0 10px;
        fill: $ws-select-icon;
    }
    
    
}

// Settings - Far Right

.ws-settings {
    margin-left: auto;
    
    svg.jam-cog-f {
        margin-right: 8px;
    }
    
    .ws-set {
        display: grid;
        display: none;
        grid-template-rows: 48px 1fr;
        width: 280px;
        height: calc(100% - 50px);
        position: fixed;
        top: 50px;
        right: 0px;
        background:$bg-ws-settings;
        color: $bg-ws-settings-text;
        
        .ws-set-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 48px;
            padding: 0 16px 0 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            
            h3 {
                font-size: 0.85rem;
                color: rgba($color: black, $alpha: 0.5);
            }
            
            svg.jam-close {
                width: 28px;
            }
        }

        .ws-set-content {
            // @include debug-min(cornflowerblue);
            overflow-y: auto;
        }
        >:last-child:not(.ws-set-content) {
            border-bottom: 1px solid $ws-settings-separator;
        }
        
        .ws-set-group {
            display: flex;
            flex-direction: column;
            padding: 10px 0px;
            border-bottom: 1px solid $ws-settings-separator;
            
            li {
                font-size: 0.88rem;
                font-weight: 600;
                padding: 8px 20px;
                color: #666;
                cursor: pointer;
                
                &:hover {
                    background: #e0e0e0;
                    color: #555;
                }
            }

            &:last-child {
                padding-top: 0;
            }
        }
        
        a {
            text-decoration: none;
        }
    }
}