/* Colors */
$text-color-dark: #aeaeae;
$text-color-light: #555;
$input-bg-color-dark: #3c3c3c;
$input-bg-color-light: #f8f8f8;
$tree-content-bg-light: #fcfcfc;
$tree-content-bg-dark: #303030;

/* Text Color */
$text-color: $text-color-light;
$input-bg-color: $input-bg-color-light;
$input-bg-color-focus: #383838;

/* Tree BG */
$bg-color-light: #f9f9f9;
$bg-color-dark: #2c2c2c;

$bg-primary: $bg-color-dark;
$tree-content-bg: $bg-color-dark;

/* Node Sizing */
$node-content-height: 1.5rem;
$excess-line-top: calc(#{$node-content-height} / 2);            //  0.75
$node-height-half-negative: calc(#{$excess-line-top} * -1);     // -0.75
// $add-sibling-vline-height: 1.2rem;

/* Node Solid Line & Dash */
$line-color-vertical: #666;
$line-color-horizontal: #888;
$excess-line-cover-color: $bg-color-dark;

/* Node Content */
$text-bg-light: #f9f9f9;
$text-color-light: #636363;
$text-color-dark: #d7d7d7;

$node-text-color: $text-color-dark;
$node-text-bg: none;
$node-text-bg-focus: $input-bg-color-focus;
$node-text-color-focus: #fff;
$node-text-weight: 400;
$node-text-size: 0.8rem;
$node-text-padding: 1px 5px;

/* Node Check Toggle */
$toggle-check-size: 0.9rem;
$toggle-check-bg: #4a4a4a;
$toggle-check-hover-bg: #fca4a4;
$toggle-check-hover-fill: #fff;

// Tree Container
.list-tree {
    background: #000;
    position: relative;
}

// Modal
.modal-confirmation {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    z-index: 99999999999999999;
    user-select: none;
    pointer-events: visible;

    &.is-open {
        display: flex;
    }
    
    .modal-content {
        background: #efefef;
        border-radius: 5px;
        display: grid;
        gap: 15px;
        padding: 10px 10px 15px 10px;
        margin-bottom: 48px;
        color: #444;
        text-align: center;
        box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.4);

        .modal-description {
            font-size: 0.8rem;
            white-space: nowrap;

            p:first-child {
                margin-bottom: 5px;
            }

            .modal-sub-nodes {
                color: #4f8bcf;
                font-weight: 600;
            }
        }

        @at-root .modal-buttons {
            margin-top: 5px;
            display: flex;
            justify-content: center;
            gap: 10px;

            .modal-btn {
                border: 0;
                padding: 5px 10px;
                border-radius: 3px;
                font-weight: 600;
                font-size: 0.9rem;
                cursor: pointer;

                &:active, &:focus {
                    outline: none;
                }
                
                &.modal-cancel {
                    background: #efefef;
                    border: 1px solid #888;
                    color: #666;
                    
                    &:hover {
                        color: #545454;
                        color: #3f3e3e;
                        border: 1px solid #777;
                    }
                    
                    &:active {
                        color: #1d1d1d;
                    }
                }
                
                &.modal-delete {
                    background: #ff6969;
                    color: #efefef;
                    
                    &:hover {
                        background: #fc5050;
                    }
                    
                    &:active {
                        background: #fe3e3e;
                    }
                }
            }
        }
    }
}

.list-tree-content {
    border: 1px solid purple;
    padding: 10px;
    border-radius: 3px;
    background: $tree-content-bg;
    border: none;
    height: 100%;
    overflow-y: auto;
    position: relative;
    
    @at-root ul.list-tree-root { 
        display: grid;
        margin-bottom: 10px;

        &.edit-mode {

            .node-content {
            
                &:hover {
                    background: #353535;
                    border-radius: 0px 3px 3px 0px;

                    .add-new-node {
                        display: flex;
                        position: absolute;
                        right: 5px;
                    }
                }
                

                &.is-muted:hover {
                    background: none;

                    .add-new-node {
                        display: none;
                    }
                }
            }
        }

        &.is-muted {
            pointer-events: none;
            
            &:hover {
                pointer-events: none;

            }
        }
    }

    svg.jam {
        cursor: pointer;

        path {
            pointer-events: none;
        }
    }

    // Descendants
    ul {
        position: relative;
        margin-left: 2.4rem;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0;
            border-left: 1px solid $line-color-vertical;
            z-index: 1;
        }

        &.list-tree-root {
            margin-left: 1.2rem;
        }
    }

    li {
        position: relative;

        &.is-collapsed {

            ul, .add-main-branch {
                display: none;
            }
            
            .add-sibling-branch,
            .add-test-branch {
                position: relative;

                &:not(.has-descendant) {
                    display: none;
                }
            }
        }

        &:last-child:before {
            content: '';
            background: $excess-line-cover-color;
            position: absolute;
            height: auto;
            top: $excess-line-top;
            bottom: 0;
            width: 1px;
            z-index: 2;
        }
    }

    .calc-label-width {
        position: relative;
        
        /*  font-size and font-weight handled in JS
            uncomment "position, z-index, and opacity" for testing
        */
        span {
            position: absolute;
            z-index: -1;
            // position: relative;
            // z-index: 999;
            // opacity: 0;
            color: #fff;
            background: #444;
            padding: $node-text-padding;
            white-space: pre;
        }
    }

    // Primary Node Highlight
    .list-tree-root > li > .node-content > .node-label > .node-text {
        background: #414768;
        background: #9f0a7e;
        background: #f5f5f5;
        color: #f5f5f5;
        color: #353535;
        font-weight: 600;
        
        &:focus {
            background: #394068;
            background: #8a066d;
            background: #f8f8f8;
            color: #fff;
            color: #1b1b1b;
        }
    }

    // Node Label
    .node-content {
        height: $node-content-height;
        position: relative;
        display: flex;
        z-index: 0;
        margin-right: 10px;
        
        // temporary grid due to lack of 'gap' support on chrome
        .node-label {
            display: flex;
            display: grid;
            grid-template-columns: auto auto 1fr;
            gap: 0.4rem;
            align-items: center;
            
            .node-dash {
                width: 0.7rem;
                border-top: 1px solid $line-color-horizontal;
            }

            input.node-text {
                font-size: $node-text-size;
                font-weight: $node-text-weight;
                font-family: 'Open Sans', sans-serif;
                min-width: 50px;
                margin-right: 80px; // for new-node onHover button allowance
                padding: $node-text-padding;
                border-radius: 2px;
                color: $node-text-color;
                background: $node-text-bg;
                
                &:focus-within {
                    background: $node-text-bg-focus;
                    color: $node-text-color;
                }
            }

            svg.jam {
                width: $toggle-check-size;
                background: $toggle-check-bg;
                border-radius: 50%;
                fill: none;
                
                &:hover {
                    background: $toggle-check-hover-bg;
                    fill: $toggle-check-hover-fill;
                }
            }
        }   
    }

    // Node Toggle
    .node-view {
        position: absolute;
        height: 100%;
        left: -1.25rem;
        display: flex;
        align-items: center;
        pointer-events: none;
        
        svg.jam {
            width: 0.75rem;
            fill: #777;
            pointer-events: visible;
            
            &:hover {
                fill: #444;
            }
            
            path {
                pointer-events: none;
            }
        }
        
        &.is-collapsed svg.jam {
            fill: #ccc;
        }
    }
    
    // New Node
    .new-node {
        height: $node-content-height;
        display: flex;
        align-items: center;

        svg.jam,
        svg.mdi,
        svg.mdi path {
            width: 1.1rem;
            fill: #dad240;
            
            &:hover {
                fill: #ece447;
            }
        }
    }

    .add-main-node {
        position: absolute;
        align-items: center;
        bottom: 0;
        left: 0;
        gap: 0.4rem;
    }
    
    .add-sibling-node {
        gap: 0.3rem;

        .dashed-line-h {
            border-top: 1px solid $line-color-horizontal;
            width: 0.7rem;
        }

        &:before {
            content: '';
            position: absolute;
            background: $excess-line-cover-color;
            height: $excess-line-top;
            bottom: 0;
            width: 1px;
            z-index: 9;
        }
    }
    
    .add-new-node {
        display: none;
        margin-left: 0.5rem;
        gap: 0.3rem;

        svg.mdi {
            cursor: pointer;
            pointer-events: visible;
            visibility: visible;
            
            &.mdi-add-sibling {
                transform: rotate(90deg);
            }

            &.mdi-add-child {
                transform: rotate(180deg);
            }

            path {
                fill: #7e7e7e;
                pointer-events: none;
            }

            &:hover {
                path {
                    fill: #47eccf;
                }
            }
        }

        .mdi-add-sibling:hover {
            path {
                fill: #47eccf;
            }
        }

        .mdi-add-child:hover {
            path {
                fill: #eaeaea;
            }
        }

        svg.jam,
        svg.mdi {
            fill: #7e7e7e;
            
            
            &:hover {
                fill: #ffc143;
                fill: #ccff43;
                // fill: #47eccf;
            }            
        }
    }
}

