.list {
    @include debug(gold);
    overflow: hidden;
    padding-bottom: 2px;
    
    .list-content {
        @include debug(darkblue);
        max-height: 100%;
        padding: 10px 0;
        background: #f6f6f6;
        border-radius: 5px;
        display: grid;
        grid-template-rows: auto 1fr auto;
        gap: 10px;
        box-shadow: 0px 1px 1px rgba( black, 0.4);
        
        > * {
            @include debug(red);
            overflow: hidden;
            margin: 0 10px;
        }
    }
    
    .list-items {
        border-radius: 3px;
        background: #fff;
        overflow-y: auto;
        overflow-x: auto;
        // box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    }
    
    .list-header {
        display: flex;
        align-items: center;
        height: 32px;
        padding: 0 8px;
        
        svg:nth-child(3),
        svg:nth-child(4) {
            margin-left: auto;
        }

        svg:nth-child(3) {
            margin-right: 5px;
        }
        
        svg.jam {
            width: 1.2rem;
            fill: rgb(165, 165, 165);
        }

        .list-title {
            overflow: hidden;
            margin: 0 5px;
            background: none;
            font-size: 0.9rem;
            font-weight: 600;
        }   
    }
    

    .ls-options, .list-progress {
        display: none;
    }
}

// Todo Items

.list-item {
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 0.88rem;
    border-bottom: 1px solid rgba(0,0,0,0.03);
    min-height: 42px;
    cursor: grab;
    
    &:nth-child(2),
    &:nth-child(3) {
        svg.jam-check {
            // background:#aade00;
            background:#ff8383;
            fill: white;
            path {
                display: block;
            }
        }

        .todo-item {
            text-decoration: line-through;
            color: #c2c2c2;
        }
    }
    
    svg.jam {
        margin: 0 5px;
        width: 1.3rem;
        cursor: pointer;
    }

    svg.jam-more-horizontal {
        fill: #888;
        opacity: 0;
    }
    
    svg.jam-check {
        background:#ececec;
        border-radius: 50%;
        
        path {
            display: none;
        }

        &:hover {
            background:#ff8383;
            fill: white;

            path {
                display: block;
            }
        }
    }
    
    .todo-item {
        color: #666;
        width: 100%;
        padding: 5px;
        background: none;
        overflow: hidden;
        cursor: grab;
    }

    &:hover {
        background: #fbfbfb;

        .todo-item {
            color: #555;
            // font-weight: 600;
        }

        svg.jam-more-horizontal {
            fill: #888;
            opacity: 1;
        }
    }

    &:first-child {

        .ls-item-options {
            position: absolute;
            right: 0;
            display: none;
        }
    }

    &:not(:first-child) {
        .ls-item-options {
            display: none;
        }
    }

}

// List Row - Add New

.list-add-new {
    overflow: hidden;
    
    svg.jam {
        width: 24px;
        fill: #555;
    }
    
    .input-add-item {
        width: 100%;
    }
    
    .row-add {
        display: flex;
        align-items: center;

        &:last-child {
            margin-top: 10px;
        }
    }

    .ls-input {
        svg.jam {
            margin-right: 5px;
        }

        .new-todo-text {
            font-size: 0.88rem;
            resize: none;
            width: 100%;
            padding: 5px 10px;
            height: 28px;
            border: none;
            border-radius: 3px;
        }
    }
    
    .ls-btn {
        display: none;

        .btn-add {
            margin-bottom: 2px;
            position: relative;
            border: none;
            background: #888;
            color: #f8f8f8;
            padding: 5px 8px;
            border-radius: 3px;
            font-size: 0.86rem;
            font-weight: 600;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 1);
        }

        svg.jam {
            margin-left: 5px;
        }
    }

    &:focus-within {
        .ls-input {
            svg.jam {
                display: none;
            }

            .new-todo-text {
                overflow-x: auto;
                height: auto;
                resize: vertical; 
            }
        }

        .ls-btn {
            display: flex;
        }
    }
}

// Create New List

.list-new {
    // @include debug-1(yellow);
    overflow: hidden;
    padding-bottom: 2px;
    
    .list-new-wrap {
        // @include debug-1(cornflowerblue);
        background: #fff3;
        color: #f6f6f6;
        display: flex;
        height: 352px;
        max-height: 100%;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        
        svg.jam {
            cursor: pointer;
            fill: #fff6;
            width: 78px;
        }
        
        &:hover {
            background: #ffffff5e;

            svg.jam {
                fill: #ffffff85;
            }    
        }

        
        .list-new-text {
            // width: 100%;
            // flex-grow: 1;
            
        }
        
        > * {
            // flex: 1;
            // @include debug-min(cyan);
        }
    }
}