// Tree Style

.list-tree-content {
    @include debug-min(purple);
    padding: 10px;
    border-radius: 3px;
    background: white;
    border: none;
    display: grid;
    grid-template-columns: 0.6rem 1fr;
    height: 100%;
    overflow-y: auto;
    font-size: 0.9em;
    
    input {
        color: #888;
    }

    svg.jam {
        cursor: pointer;
    }
    
    // Node Content
    .list-tree-root .node-label .node-text {
        color: #999;
        font-weight: 600;
    }

    .calc-label-width {
        position: relative;
        
        span {
            position: absolute;
            font-weight: 600;
            padding: 0 6px;
            white-space: pre;
            z-index: -1;
        }
    }

    // Node Label
    .node-content {
        height: 2rem;
        position: relative;
        width: 100px;
        max-width: 200px;
        display: flex;
        
        .node-label {
            display: flex;
            // display: grid;
            // grid-template-columns: auto 1fr auto;
            align-items: center;
            gap: 0.3rem;
            
            .node-text {
                width: 50px;
                min-width: 130px;
                padding: 3px 6px;
                border-radius: 3px;

                &:focus-within {
                    background: #f9f9f9;
                }
            }

            .node-dash {
                width: 0.5rem;
                border-top: 1px solid #aaa;
            }

            svg.jam {
                width: 16px;
                background: #eee;
                border-radius: 50%;
                fill: none;
                
                &:hover {
                    background: #fca4a4;
                    fill: #fff;
                }
            }
        }
        
        
        .branch-view {
            // @include debug-min(blue);
            position: absolute;
            height: 100%;
            left: -1.2rem;
            display: flex;
            align-items: center;
            pointer-events: none;
            
            svg.jam {
                width: 14px;
                fill: #999;
                pointer-events: fill;

                path {
                    pointer-events: none;
                }
            }
            
            &.is-collapsed svg.jam {
                fill: #bbb;
            }
        }
    }
    
    // Descendants
    ul {
        position: relative;
        margin-left: 3.4rem;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0;
            border-left: 1px solid #999;
        }

        &.list-tree-root {
            margin-left: 1rem;
        }
    }

    li {
        position: relative;

        &.is-collapsed {
            ul,
            .add-main-branch {
                display: none;
            }
            
            .add-sibling-branch {
                position: relative;
                &:not(.has-descendant) {
                    display: none;
                }
            }
        }

        &:last-child:before {
            content: '';
            background: white;
            position: absolute;
            height: auto;
            top: 1rem;
            bottom: 0;
            width: 1px;
        }
    }

    // New Branch
    .new-branch {
        height: 2rem;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        .dashed-line-h {
            border-top: 1px dashed #ccc;
            width: 0.5rem;
        }

        .dashed-line-v {
            border-left: 1px dashed #ccc;
        }

        svg.jam {
            width: 20px;
            fill: #ffd2d2;
            fill: #ddd;
            fill: #f6f6f6;
        }
    }

    .add-main-branch {
        position: absolute;
        align-items: center;
        bottom: 0;
        left: 0;
        gap: 0.3rem;
    }
    
    .add-sibling-branch {
        gap: 0;
        margin-left: 3.4rem;
        
        .dashed-line-v {
            top: -1rem;
            position: relative;
            left: 0;
            height: 2rem;
        }
        
        .add-child-angled {
            display: flex;
            align-items: center;
            gap: 0.2rem;
        }

        &.has-descendant {
            position: absolute;
            margin-left: 0;
        }
    }
   
    .add-child-branch {
        display: flex;
        gap: 0.1rem;

        .dashed-line-h {
            width: 1rem;
        }

        svg.jam {
            background: none;
            width: 20px;
            fill: #caeaff;
            // fill: #e7e7e7;
            // fill: #f6f6f6;
        }
    }
    
    .add-last-branch {

        .dashed-line-v {
            top: -1rem;
            position: relative;
            left: 0;
            height: 32px;
        }

        .add-child-angled {
            display: flex;
            align-items: center;
            gap: 0.3rem;  
        }

        &:before {
            content: '';
            position: absolute;
            background: white;
            height: 1rem;
            bottom: 0;
            width: 1px;
        }   
    }
}

