.main {
    display: grid;
    box-sizing: border-box;
    background: blueviolet;
    color: aqua;
    font-size: 20px;
    padding: 5px 10px;

    h1 {
        font-family: 'Courier New', Courier, monospace;
    }

    p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
}